.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logoAndSearchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .logoContainer {
    position: absolute;
    left: 20px;
  }
  
  .searchBarContainer {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  
  .searchForm {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: fit-content;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .searchForm input[type="text"] {
    border: none;
    padding: 10px 15px;
    width: 450px;
    outline: none;
  }
  
  .searchForm button {
    border: none;
    padding: 10px 15px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    outline: none;
  }
  
  .searchForm button:hover {
    background-color: #0056b3;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    background-color: #007bff;
    margin-top: 20px;
    text-decoration: none;
  }
  
  .sportsLinks {
    display: flex;
    text-decoration: none;
  }
  
  .navLink {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 15px 15px;
    margin: 0 10px;
    border-radius: 5px;
    display: block;
  }
  
  .navLink:hover {
    background-color: #0056b3;
    text-decoration: none;
  }
  
  @media (max-width: 860px) {
    .navbar {
      display: none;
    }
  }
  