.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.searchBarContainer {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-top: 5px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.searchForm {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.searchForm input[type="text"] {
  border: none;
  padding: 10px 15px;
  width: calc(100% - 30px);
  outline: none;
}

.searchForm button {
  border: none;
  padding: 10px 15px;
  background-color: white;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}

.searchForm button:hover {
  border: 2px solid black;
}

.searchForm button .faIcon {
  color: black;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
  background-color: #0050a2;
  margin-top: 20px;
  text-decoration: none;
}

.sportsLinks {
  display: flex;
  text-decoration: none;
}

.navLink {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 15px 15px;
  margin: 0 10px;
  border-radius: 5px;
  display: block;
  cursor: pointer;
}

.navLink:hover {
  background-color: #0077cc;
}

.rightNav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.cartIconWrapper {
  position: relative;
}

.cartBadge {
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: #0050a2;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 12px;
}

.startSellingButton {
  color: black;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  margin: 0 5px;
  cursor: pointer;
}

.startSellingButton:hover,
.navIcon:hover {
  border-color: #0050a2;
  color: #0050a2;
}

.navIcon {
  color: #000000;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.sidePanel {
  position: absolute;
  top: 70px;
  right: 10px;
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  z-index: 100;
  border-radius: 6px;
  border: 1px solid #babbbc;
  transition: top 0.3s ease;
}

.panelContent {
  width: 100%;
}

.userInfo {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.accountSection,
.sellerHelpSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.accountSection h3,
.sellerHelpSection h3 {
  font-size: 18px;
  color: #0050a2;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.accountSection a,
.sellerHelpSection a,
.signOutButton {
  padding: 5px;
  margin: 4px 0;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: 16px;
  border: none;
  background-color: transparent;
}

.accountSection a:hover,
.sellerHelpSection a:hover,
.signOutButton:hover {
  background-color: #ddd;
}

.loginButton,
.signUpButton {
  background-color: #0050a2;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 10px 5px 10px 0;
  width: calc(50% - 10px);
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
}

.loginButton:hover,
.signUpButton:hover {
  background-color: #0077cc;
}

.navLinkContainer {
  position: relative;
}

.miniPanel {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 200px;
}

.miniPanelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.miniPanelSport {
  font-size: 14px;
  font-weight: bold;
}

.miniPanelTitle {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.miniPanelList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.miniPanelItem {
  display: block;
  padding: 5px 0;
  cursor: pointer;
  color: black;
}

.miniPanelItem:hover {
  text-decoration: underline;
  color: #0077cc; /* Change the hover color */
}

.shopAllButton {
  cursor: pointer;
  color: black; /* Change the color to black */
}

.shopAllButton:hover {
  text-decoration: underline;
}

@media (max-width: 860px) {
  .navbar {
    display: none;
    margin-top: 20px;
  }
  .searchBarContainer {
    margin-bottom: 20px;
  }
}
