<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>Final Verification</title>
</head>
<body>
    <nav>
        <h4>GemTCG</h4>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <h1>Final Verification</h1>
    <p>We have sent two micro-deposits to your bank account and a verification email. Please follow the instructions in the email to complete your verification process.</p>
</body>
</html>