<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>Final Verification</title>
</head>
<body>
    <nav>
        <img src="/images/logo.png" class="logo-image">
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <div class="inventory-bubble" style="background-color: rgba(195, 173, 3, 0.522)">
        <h1>Verify Bank Account</h1>
        <p>We have sent two micro-deposits to your bank account and they should arrive within 1-2 business days. Enter the amounts on the Payment page to begin receiving payments.</p>
    </div>
    <div class="inventory-bubble" style="background-color: rgba(11, 255, 60, 0.2);">
        <h1>Verify Email</h1>
        <p>Please check your email to activate your account.</p>
    </div>
</html>