<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>Final Verification</title>
</head>
<body>
    <nav>
        <img src="/images/logo.png" class="logo-image">
        <ul>
            <li><a href="/Articles">Articles</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
<div style="background-color: rgba(11, 255, 60, 0.2); display: flex; align-items: center; justify-content: center; height: 25vh; flex-direction: column; box-shadow: 0 4px 8px rgba(0,0,0,0.1); border-radius: 10px;  margin: auto; margin-top: 50px; width: 50%; padding: 20px;">
    <h1 style="color: #0a662e; text-align: center; font-size: 24px; margin-bottom: 10px;">Verify Email</h1>
    <p style="color: #08622e; text-align: center; font-size: 18px;">Please check your email to activate your account.</p>
</div>

</html>