<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">
    <title>GemTCG</title>
</head>
<body>
    <nav>
        <h4>GemTCG</h4>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>

    <div class="index-container">
        <div class="index-jumbo">
            <h1>Become a seller with GemTCG</h1>
            <p>Connect with interested buyers online</p>
            <a class="start-selling-button" href="/register" role="button">Get Started</a>
        </div>
    </div>
    <div class="what-is-gemtcg">
        <div class="key-aspects">
            <div class="aspect-box">
                <h3>Fast Listing</h3>
                <p>Effortlessly list over 200 cards an hour with our streamlined listing process.</p>
            </div>
            <div class="aspect-box">
                <h3>Grade Through Us</h3>
                <p>Benefit from reduced PSA grading prices and expedited turnaround times.</p>
            </div>
            <div class="aspect-box">
                <h3>No Need To Take Pictures</h3>
                <p>Our specialized API captures and handles all imagery, saving you time and ensuring your listings look professional with minimal effort.</p>
            </div>
        </div>
    </div>
</body>
</html>