<nav>
    <a href="/admin/dashboard">
        <img src="/images/logo.png" class="logo-image" alt="Logo">
    </a>
    <ul>
        <li class="nav-item-container"><a href="/admin/dashboard">Home</a></li>
        <li class="nav-item-container"><a href="/admin/inventory">Inventory</a></li>
        <li class="nav-item-container">
            <a href="/admin/orders">Orders</a>
            {{#if ordersCount}}
                <span class="notification-bubble">{{ordersCount}}</span>
            {{/if}}
        </li>
        <li class="nav-item-container">
            <a href="/admin/messages">Messages</a>
            {{#if messagesCount}}
                <span class="notification-bubble">{{messagesCount}}</span>
            {{/if}}
        </li>
        <li class="nav-item-container"><a href="/admin/feedback">Feedback</a></li>
        <li class="nav-item-container"><a href="/admin/payments">Payments</a></li>
        <li class="nav-item-container"><a href="/admin/reports">Reports</a></li>
        <li class="nav-item-container"><a href="/admin/settings">Settings</a></li>
        <li class="nav-item-container"><a href="/logout">Logout</a></li>
    </ul>
</nav>
