{{!--}}
<form action="/update-inventory-pricing" method="post">
    <input type="hidden" name="listingId" value="{{inventory.ListingID}}">
    <input type="number" name="gradeId" value="{{inventory.GradeID}}" required>
    <input type="text" name="salePrice" value="{{inventory.SalePrice}}" required>
    <input type="number" name="quantity" value="{{inventory.Quantity}}" required>
    <button type="submit">Update Inventory</button>
</form>
--}}

<p>Hello World</p>