<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/images/logo.png" type="image/png">
</head>
    <nav>
        <a href="/">
            <img src="/images/logo.png" class="logo-image" alt="Logo">
        </a>
        <form action="/articles/search" method="GET" class="articles-search-bar">
            <input type="text" name="query" placeholder="Search articles...">
            <button type="submit">Search</button>
        </form>
        <ul>
            <li><a href="/Articles">Articles</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
