{{> articlesNavbar}}
<body>
    <article>
        <h1>{{article.Title}}</h1>
        <p>{{formatDateNoTime article.PublishedDate}}</p>
        <div>{{{article.Content}}}</div> <!-- Use triple-stash for raw HTML -->
    </article>

    <a href="/articles" style="text-decoration:none;">Back to articles</a>
</body>
</html>
