body {
    font-family: Arial, sans-serif;
}
nav {
    color: #9BA0AA;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee; /* Thin line for each row */

}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color: #9BA0AA;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: #0056b3;
    text-decoration: none;
}

.jumbotron {
    background-color: lightgrey;
}

.form-group {
    padding: 5px;
}

.error-message {
    background-color: rgba(255, 0, 0, 0.2);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}

.charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.charts-container canvas {
    flex: auto;
    margin: 10px;
    max-width: 600px;
}

#feedbackChart, #salesChart, #inventoryChart {
    min-width: 300px;
    min-height: 300px;
    max-width: 400px;
    max-height: 400px;
    border: 1px solid #9BA0AA;
    padding: 10px;
    border-radius: 8px;
}
.table-container {
    margin: 20px 0;
    flex-basis: 70%;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.table-header > h2 {
    flex-grow: 1;
}

.page-size-selector {
    display: flex;
    align-items: center;
    padding-left: 20px; /* Adjust as needed */
    margin: 5px;     /* Uniform margin */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px;
}

.page-size-selector label {
    margin-right: 5px; /* Adjust as needed */
}


.table-header h2 {
    margin: 0;
    color: #333;
    /* Other styling as needed */
}

.table-header span {
    font-size: 16px;
    color: #666;
    /* Other styling as needed */
}

table {
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 25px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    /* Other styling as needed */
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

form {
    margin-bottom: 5px;
}

form div {
    margin-bottom: 10px;
}

caption {
    caption-side: top;
    text-align: left;
    padding: 10px;
    font-size: 1.2em;
}


.pagination-bottom {
    text-align: center;
    margin: 10px 0;
}

.inventorySearch {
    padding-top: 20px;
    padding-left: 20px;
    max-width: 500px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: rgba(155, 160, 170, 0.5);
    border-radius: 4px;
    border: black 1px solid;
    margin: auto;
}

#spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.filter-input {
    width: 100%;      /* Full width */
    max-width: 100%; /* Maximum width */
    margin: 10px;     /* Uniform margin */
    border: 1px solid #ddd; /* Border */
    border-radius: 4px; /* Rounded corners */
    flex-grow: 1;

}

.inventorySearch div {
    display: flex;
    margin-bottom: 2px; /* Add some space between each row */
}

.inventorySearch label {
    flex-basis: 20%;
    flex-shrink: 0;
    margin-right: 5px; /* Keep your existing space between label and input */
}

.consistent-width-dropdown {
    min-width: 200px;
}

.button-cell {
    text-align: center;
    padding: 10px; /* Adjust the padding as needed */
}
.table-button {
    background-color: #141414;
    color: white;
    border: none;
    width: 100%; /* Makes the button expand to the full width of the cell */
    height: 30px; /* Sets a fixed height for the button */
    display: block; /* Allows margin: auto to center the button horizontally */
    margin: auto; /* Centers the button within the cell */
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.table-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

/* Styling for disabled buttons */
.table-button:disabled {
    background-color: #6c757d; /* Grayer color to look "disabled" */
    color: #ccc; /* Dimmed text color */
    box-shadow: none; /* No shadow to flatten the button visually */
}


th.sortable:hover {
    cursor: pointer;
    text-decoration: underline; /* Optional: adds underline on hover */
}

/* Icon styles */
.sort-icon {
    margin-left: 5px; /* Space between header text and icon */
}

.flex-container {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    justify-content: space-between; /* Space between the items */
}

.product-info {
    flex-basis: 30%; /* Adjust the width as needed */
    margin-right: 20px; /* Optional spacing between the elements */
    padding-left: 20px;
}

.button-container {
    text-align: right; /* Aligns the button to the right */
    margin-top: 10px; /* Adds some space above the button, adjust as needed */
    padding-right: 35px;
}

.in-stock {
    background-color:rgb(0, 123, 255) !important;
    color: #ffffff;
}


.status-green {
    color: green;
}

.status-yellow {
    color: yellow;
}


.order-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
}

.order-detail-box {
    border: 1px solid #ccc;
    padding: 10px;
    padding-right: 4px; /* Increased right padding */
    background-color: #f9f9f9; /* Light background color */
    border-radius: 8px; /* Rounded corners for the bubble effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    flex: 0 0 33.3333%; 
    box-sizing: border-box;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

.order-detail-box h4 {
    margin: 0 0 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    font-size: 1.2em;
    font-weight: bold;
}

.order-detail-box p {
    margin: 0;
    font-size: 0.9em;
}

.order-detail-box:after {
    content: '';
    position: absolute;
    left: calc(40% - 10px); /* Adjust this value as needed */
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #ccc;
}

.info-row {
    display: flex;
    border-bottom: 1px solid #eee; /* Thin line for each row */
    padding: 5px 0;
}

.order-detail-box .info-row:last-child {
    border-bottom: none;
}

.info-label {
    flex-basis: 40%; 
    padding-right: 10px;
    font-weight: bold;
}

.info-data {
    flex-grow: 1;
    text-align: left;
    padding-left: 5px;
}
/*
.info-data input[type="text"] {
    width: calc(100% - 100px);
    box-sizing: border-box; 
    margin-right: 10px;
}
*/

/* Input field styling */
input[type="text"]#trackingNumberInput {
    padding: 5px; /* Input padding for better readability */
    border-radius: 5px; /* Rounded corners for input fields */
    border: 1px solid #ccc; /* Light border for inputs */
    width: calc(100% - 20px); /* Full width taking padding and border into account */
    margin-bottom: 5px;
    box-sizing: border-box; /* Box sizing to ensure padding doesn't affect width */
}

.refund-cancel-box {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9; /* Light background color */
    border-radius: 8px; /* Rounded corners for the bubble effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
    flex: 0 0 33.3333%; 
    box-sizing: border-box;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.refund-cancel-box h4 {
    font-size: 1.2em; /* Example to make the header text larger */
    font-weight: bold;
}


.shipping-box {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9; /* Light background color */
    border-radius: 8px; /* Rounded corners for the bubble effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
    flex: 0 0 33.3333%; 
    box-sizing: border-box;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.shipping-box  h4 {
    /* Add any specific styles for the header if needed */
    font-size: 1.2em; /* Example to make the header text larger */
    font-weight: bold;
}

.shipping-box  .info-row {
    border-bottom: none; /* Removes the line */
}

.shipping-box  .info-row div {
    font-size: 1.1em; /* Makes the text inside larger */
    text-align: left;
    text-transform: uppercase;
}
.table-controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px; /* Adjust as needed */
}

.pagination-controls {
    display: flex;
    align-items: center;
}

.pagination-links {
    margin-left: 20px; /* Space between dropdown and pagination links */
    margin-right: 60px;
}
.messages-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.message {
    max-width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    word-wrap: break-word;
}

.seller-message {
    align-self: flex-end;
    background-color: #007bff; /* Blue for seller's messages */
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 5px 0;
}

.buyer-message {
    align-self: flex-start;
    background-color: #e5e5ea; /* Grey for buyer's messages */
    color: black;
    border-radius: 20px;
    padding: 10px;
    margin: 5px 0;
}

.message p {
    margin: 0;
}
/* Container for your form */
.form-container {
    position: fixed;
    bottom: 0;
    left: 0; /* Added for centering */
    right: 0; /* Added for centering */
    width: 95%;
    margin: 0 auto; /* Centers the container */
    background: #f0f0f5;
    padding: 10px;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds space between the textarea and the button */
}

#messageText {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    resize: none;
}

#sendMessageForm button {
    padding: 10px 20px;
    background-color: #007bff; /* iOS Message Blue */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.back-to-messages {
    display: inline-block; /* Adjust to inline-block for content width */
    margin-bottom: 20px; /* Adjust as needed */
    background-color: #eb1c2d; /* iOS Message Blue */
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    margin-left: auto; /* Aligns the button to the right */
    margin-right: auto; /* Centers the button when used with margin-left: auto */
    margin-top: 10px;
}

.card-image {
    transition: transform 0.3s ease; /* Smooth transition for the transform property */
    max-height: 80px; /* Set a max-height to ensure the image fits well in the table */
    max-width: 80px; /* Set a max-width for the same reason */
    display: block; /* This makes the transform origin work as expected */
    margin: 0 auto; /* Center the image if it's smaller than the max dimensions */
}

#image-preview {
    position: fixed; /* Stay in place regardless of scrolling */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the div */
    z-index: 1000; /* Above other content */
    display: none; /* Start hidden */
    /* Optional styling */
    border-radius: 10px;
    padding: 10px;
   }

#image-preview img {
    max-width: 80vw; /* Adjust width to viewport */
    max-height: 80vh; /* Adjust height to viewport */
    display: block; /* Remove any default inline styles */
    margin: 0 auto; /* Center the image if it's smaller than the preview box */
}

.update-inventory-card-image {
    max-height: 800px;
    max-width: 425px;
}

.card-details {
    color: #0056b3;
}

hr {
    border-bottom: 1px solid #eee;
    margin-top: 10px; /* Space above the line */
    margin-bottom: 20px; /* Space below the line */
}

.dashboard-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
  
.inventory-bubble {
padding: 20px;
margin-right: 20px; /* Adjust spacing between the bubble and the table */
background-color: #f0f0f0; /* Light grey background, feel free to adjust */
border-radius: 10px; /* Gives the bubble effect */
width: 200px; /* Adjust size as needed */
}

.feedback-table {
width: 30%; /* Adjust based on your preference */
margin-top: 20px;
}
.banner-container {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: space-around; /* Evenly space the inner elements */
    background-color: #0050a2; 
    margin-bottom: 20px;
    text-align: center; /* Ensure text is centered within its container */
    color: white; /* Text color */
}

.banner-image {
    max-height: 100%; /* Prevent the images from exceeding the banner's height */
    width: auto; /* Maintain the images' aspect ratios */
}

.banner-text {
    text-align: left;
}

.banner-text h1 {
    font-size: 40px;
    font-weight: bold;
}
.banner-text h2 {
    font-size: 24px;
    font-weight: bold;
}

.text-content {
    /* Styles for the text container if needed; for example: */
    text-align: left;
}


.start-selling-button {
    display: inline-block;
    background-color: white; /* Button color */
    color: black; /* Text color */
    padding: 10px 20px; /* Button padding */
    text-decoration: none; /* Remove underline from the link */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold; /* Make the text bold */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    margin-top: 20px; /* Adds some space between the button and the headers above it */
}

.start-selling-button:hover {
    background-color: #eb1c2d; /* Darker shade on hover */
    color: white;
}

