.container {
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .startButton {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 15px 30px; /* Increased padding for a larger button */
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Increased font size for a larger button */
  }
  
  .startButton:hover {
    background-color: #005bb5;
  }
  
  .tableContainer {
    overflow-x: auto;
    margin-top: 20px;
  }
  
  .tableContainer h2 {
    margin-bottom: 10px;
  }
  
  .table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .table th, .table td {
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: white; 
    border-bottom: 1px solid #ddd;
  }
  
  .table td:first-child,
  .table th:first-child {
    border-left: none;
  }
  
  .table td:last-child,
  .table th:last-child {
    border-right: none;
  }
  
  .faqSection {
    margin-top: 40px;
  }
  
  .faqSection h2 {
    margin-bottom: 20px;
  }
  
  .faqItem {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
  }
  
  .faqQuestion {
    font-weight: bold;
  }
  
  .faqAnswer {
    margin-top: 10px;
    font-size: 14px;
  }
  