/* src/styles/sidepanel/SubmissionDetails.module.css */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: 'Arial', sans-serif;
}

.title {
  font-size: 24px;
  color: #333333;
  margin-bottom: 20px;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  color: #444444;
  margin-top: 20px;
  margin-bottom: 10px;
}

.paragraph {
  font-size: 16px;
  color: #555555;
  line-height: 1.5;
  margin: 10px 0;
}

.bold {
  font-weight: bold;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

.button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0050a2;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #005bb5;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.optionButton {
  flex: 1;
  margin: 0 10px;
}

.optionButton:first-child {
  margin-left: 0;
}

.optionButton:last-child {
  margin-right: 0;
}

.paymentContainer {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #eeeeee;
  border-radius: 4px;
}

.paymentForm {
  display: flex;
  flex-direction: column;
}

.cardInputWrapper {
  position: relative;
  margin-bottom: 10px;
}

.wideInput {
  width: 97%;
  padding: 10px;
  border: 1px solid #dddddd;
  font-size: 18px;
  border-radius: 4px;
}

.cardIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: auto;
}

.expiryWrapper {
  display: flex;
  justify-content: space-between;
}

.expiryInput {
  width: 48%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 18px;
}

.securityCodeInput {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 45%;
  border: 1px solid #dddddd;
  font-size: 18px;
  border-radius: 4px;
}

.paymentButton {
  margin-top: 20px;
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
}

.paymentButton:hover {
  background-color: #218838;
}

.addressButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
