.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align panel to the top */
    padding: 20px 20px 40px; /* Add padding at the bottom for the footer */
    min-height: calc(100vh - 60px); /* Ensure full height minus approximate navbar height */
}

.panel {
    width: 100%;
    max-width: 1000px; /* Make the panel larger */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Add margin to separate from the navbar */
}

.steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.step {
    flex: 1;
    text-align: center;
    padding: 10px;
    position: relative;
}

.stepNumber {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
}

.stepLabel {
    font-size: 14px;
}

.step.active .stepNumber {
    background-color: #0070f3;
    color: white;
}

.step .stepNumber {
    background-color: white;
    border: 2px solid black;
}

.pricingTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.pricingTable th, .pricingTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 22px;
}

.pricingTable th {
    background-color: #f9f9f9;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.navigationButton {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.navigationButton:hover {
    background-color: #005bb5;
}

/* Style for larger and centered radio buttons */
.radioContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.largeRadioButton {
    transform: scale(2);
}

.headerContainer {
    display: flex;
    flex-direction: column;
}

.subHeader {
    font-size: 0.9em; /* Adjust the font size of the subheader */
    color: gray; /* Adjust the color of the subheader */
}

/* Alert styles */
.alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}
.errorInput {
    border: 2px solid red;
}

/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modalButtonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cardTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cardTable th, .cardTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
}

.cardTable input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.cardCount {
    margin-top: 20px;
    font-size: 16px;
    text-align: right;
}

.addButton, .modalButton {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.addButton:hover, .modalButton:hover {
    background-color: #005bb5;
}

.modalInput {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
}

.removeButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.removeButton:hover {
    background-color: #d32f2f;
}

.detailsForm {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formGroup label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .formGroup input[type="text"],
  .formGroup input[type="email"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .errorInput {
    border-color: red;
  }
  
  .totalPrice {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .navigationButton {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .navigationButton:hover {
    background-color: #005bb5;
  }
  .descriptor {
    font-size: 16px;
    color: gray;
    margin-top: 5px;
  }
  .finalStepContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.thankYouBox {
    background-color: #d4edda; /* Subtle green background */
    color: #155724; /* Darker green text color */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 80%;
    border: 1px solid #c3e6cb; /* Border color to match the background */
    text-align: center; /* Center the text */
    margin: 0 auto; /* Center the box horizontally */
}

.thankYouHeader {
    margin-top: 20px;
    font-size: 28px;
}

.stepContainer {
    margin-bottom: 20px;
    margin-top: 20px;
}

.stepContainer h4 {
    font-size: 20px;
}

.stepContainer p {
    font-size: 18px;
}
.addressBox {
    border: 1px solid black;
    padding: 20px;
    width: fit-content;
    margin-top: 10px;
}

