.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 95%;
}

.controlSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  border-bottom: 1px solid #ccc;
}

.filterAndCardsContainer {
  display: flex;
  width: 95%;
  gap: 20px;
  position: relative;
}

.filterSection {
  display: block;
  width: 200px;
  padding: 10px;
  border-right: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.closeFilterButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 24px;
}

@media (min-width: 1201px) {
  .filterAndCardsContainer {
    flex-direction: row;
  }
    .filterSection {
    height: auto; /* Adapt height to content */
  }
  .filterToggleButton {
    display: none; /* Hide toggle button */
  }

}

@media (max-width: 1200px) {
  .filterToggleButton {
    display: block;
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 30; /* Ensure toggle button is above the filter section */
  }

  .filterSection {
    position: fixed; /* or absolute, depending on your layout needs */
    top: 0; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    width: 200px; /* or whatever width you prefer */
    height: 100%; /* Take up full viewport height, adjust as needed */
    background-color: white; /* or any color you prefer */
    overflow-y: auto; /* In case of scrolling */
    z-index: 20; /* Higher than cardsSection */
    display: none; /* Initially hidden */
  }

  .filterVisible {
    display: block; /* Show filter section */
  }
}

.cardsSection {
  width: 100%;
}

/* Cards grid layout */
.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.card {
  width: 100%;
  height: 350px;
  display: flex;
  background-color: #f3f3f3;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.cardImageWrapper {
  width: 200px;
  height: 335px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage {
  border-radius: 8px;
  width: 200px;
  height: 335px;
  object-fit: cover;
}

.cardInfo {
  flex: 1;
  padding-left: 20px;
  margin-top: 30px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.cardName, .cardSport, .cardSet, .cardYear, .cardColor, .cardVariant {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}


.cardName {
  font-weight: bold;
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.filterVisible {
  display: block !important; /* Override any other display settings */
}
