.bannerContainer {
  position: relative;
  height: 400px; /* Example height, adjust as necessary */
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.imagesContainer {
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  transition: transform 0.5s ease-in-out; /* Smooth transition for sliding effect */
  align-items: center; /* Vertically center the images */
  justify-content: center; /* Horizontally center the images */
}

.imagesContainer img {
  height: 90%;
  object-fit: cover;
  width: auto; /* You might adjust this based on your design needs */
}

.bannerCarouselItem {
  width: 100% ;
  height: 400px;; /* Adjust height as needed */
  background-size: cover;
  background-position: center;
}

.bannerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the content */
  color: #fff; /* Adjust text color as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  text-align: left;
  font-weight: bold;
  font-size: 3rem;
}

.bannerCarouselWrapper {
  position: relative;
}

.bannerNavigation {
  position: absolute;
  width: 100%;
  bottom: 20px; /* Adjust to position at the bottom */
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -30px;
}

.bannerNavArrow {
  cursor: pointer;
  margin: 0 15px; /* Space between arrows and indicators */
}

.bannerIndicators {
  display: flex;
  gap: 8px; /* Space between indicators */
}

.bannerIndicator {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #ddd; /* Indicator color */
  border-radius: 50%;
  cursor: pointer;
}

.bannerIndicator.active {
  background-color: #007bff; /* Active indicator color */
}

.bannerImage1 .bannerContent {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28%; /* Adjusted width for content */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 20px; 
  padding-left: 20px;
  z-index: 2;
}

.bannerImage1 .imagesContainer {
  position: absolute;
  right: 0;
  top: 0;
  width: 70%; /* Adjusted width to complement content's width */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Adjust alignment of images within the container */
}


.bannerButton {
  margin-top: 20px;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease-in-out;
}

.bannerButton:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

.bannerImage1 .bannerButton {
  background-color: #eb1c2d;
}
.bannerImage2 .bannerButton {
  background-color: #0050a2;
}
.bannerImage3 .bannerButton {
  background-color: #4c00a2;
}

.bannerImage1 {
  background-color: #000022;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 800 800'%3E%3Cg fill='none' %3E%3Cg stroke='%230050A2' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%23014c9a' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%23024793' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%2302438c' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%23033f84' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%23033b7d' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%23033776' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%2302336f' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%23022f68' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%23022b61' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%2301275a' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%23012453' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%2300204d' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%23001c46' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23001940' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23001539' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23013' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-position: center;
}

.bannerImage2 {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%232f0609' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%235e0b12' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%238d111b' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23bc1624' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23EB1C2D' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.bannerImage3{
background-color: #77aa77;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%23065C17'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
background-position: center;
}

/* Small Screen */
@media (max-width: 768px) {
  .bannerImage1 .bannerContent {
    position: absolute; /* Override absolute positioning for responsiveness */
    width: 38%; /* Full width of the container */
    transform: none; /* Remove transformation to stabilize position */
    font-size: 2rem; /* Adjust font size for smaller screens */
    text-align: left; /* Center text for better readability on smaller screens */
    height: 90%; /* Allow content to adjust height based on content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 10px;
    top: 5%;
  }

  .bannerImage1 .imagesContainer {
    width: 60%; /* Full width of the container */
    position: absolute; /* Adjust position for responsiveness */
  }

  .bannerImage1 .imagesContainer img {
    width: 100%; /* Ensure images fill the container */
    height: 90%; /* Adjust height proportionally */
    object-fit: cover; /* Cover the area without distorting the image */
  }
}

/* Medium screen */
@media (min-width: 769px) and (max-width: 1024px) {
  .bannerImage1 .bannerContent {
    position: absolute;
    width: 48%; /* Slightly reduce the width for medium screens */
    transform: none;
    font-size: 2.5rem; /* Adjust font size appropriately */
    text-align: left;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    top: 25%; /* Adjust vertical positioning */
  }

  .bannerImage1 .imagesContainer {
    width: 50%; /* Adjust the width to complement the text content */
    position: absolute;
    top: 0; /* Keep images aligned to the top */
  }

  .bannerImage1 .imagesContainer img {
    width: 100%; /* Full width to fill the container */
    height: 90%; /* Adjust height automatically */
    object-fit: cover; /* Maintain aspect ratio without distortion */
  }
}
